.contact-container {
	.section-title {
		margin-bottom: 3rem;
		@media #{$xl} {
			margin-bottom: 4rem;
		}
	}
	.contact-data-col {
		margin-bottom: 2rem;
		@media #{$xs} {
			flex: 0 0 50%;
			max-width: 50%
		}
		@media #{$lg} {
			flex: 0 0 25%;
			max-width: 25%
		}
		.contact-data-inner {
			border-left: 2px solid $aquamarine;
			padding-left: 1rem;
			a {
				color: $darkgray;
				@include transition03;
				&:hover {
					color: $navy;
					@include transition03;
				}
			}
		}
		&:nth-of-type(4) {
			@media #{$xs} {
				margin-bottom: 0rem;
			}
			.contact-data-inner {
				@media #{$xs} {
					padding-top: .6rem;
				}
				@media #{$lg} {
					padding-top: 0;
				}
			}
		}
		&:nth-of-type(5) {
			margin-bottom: 0;
		}
		h5 {
			margin-block-start: 0;
			margin-block-end: 1rem;
			margin-top: 0;
			margin-bottom: 1rem;
			text-transform: uppercase;
			font-weight: normal;
		}
		p {
			margin-block-start: .2rem;
			margin-block-end: 0;
			margin-top: .2rem;
			margin-bottom: 0;
		}
		.contact-data-inner-box {
			border: 1px solid $navy;
			padding: .6rem 1rem 1rem 1rem;
			height: 100%;
			max-width: 300px;
			@media #{$lg} {
				margin-top: -0.6rem;
			}
			@media #{$lg} {
				max-width: 100%;
			}
			h5 {
				color: $navy
			}
			.contact-mail {
				color: $navy;
				text-decoration: none;
				font-weight: 700;
				display: block;
				margin-bottom: 1.8rem;
				font-size: 1rem;
				line-height: 1.3rem;
				@media #{$xs} {
					font-size: 1.15rem;
					line-height: 1.45rem;
				}
				@media #{$lg} {
					font-size: 1.2rem;
					line-height: 1.5rem;
				}
				@media #{$xxl} {
					font-size: 1.25rem;
					line-height: 1.70rem;
				}
				&:hover {
					color: $aquamarine
				}
				
			}
			.contact-linkedin,
			.contact-fb,
			.contact-twitter {
				@include contact_icon;
				@include filter_gray;
				@include transition03;
				margin-right: .6rem;
				display: inline-block;
				background:  url("../img/linkedin.svg") no-repeat center center;
				&:hover {
					@include filter_navy;
					@include transition03;
				}
				@media #{$lg} {
					height: 25px;
					width: 25px;
					margin-right: 1rem;
				}
				@media #{$xxl} {
					height: 30px;
					width: 30px;
					margin-right: 1.25rem;
				}
			}
			.contact-linkedin {
				background:  url("../img/linkedin.svg") no-repeat center center;
			}
			.contact-fb {
				background:  url("../img/facebook-square.svg") no-repeat center center;
			}
			.contact-twitter {
				background:  url("../img/twitter-square.svg") no-repeat center center;
			}
		}
	}
}