.service-container {
	.service-row {
		position: relative;
		.service-img {
			text-align: center;
			max-width: 240px;
			margin: 1rem auto;
			@media #{$sm} {
				text-align: right;
				margin-right: initial;
				max-width: 50%;
			}
			@media #{$md} {
				max-width: 41%;
			}
			@media #{$lg} {
				position: absolute;
				right: 0;
				top: 100px;
				max-width: 30%;
			}
			@media #{$xl} {
				top: 120px;
				max-width: 25%;
			}
			@media #{$xxl} {
				max-width: 340px;
			}
		}
		.service-text {
			p {
				border: 2px solid $navy;
				padding: 1rem;
				color: $navy;
				font-weight: 700;
				margin: 0px;
				@media #{$sm} {
					padding: 1.4rem;
				}
				@media #{$lg} {
					padding: 2rem;
				}
			}
			br {
				margin-bottom: 15px;
			}
		}
	}
}