.they-write-about-us-carousel-container {
	.swiper-navigation-col {
		position: relative;
		.swiper-navigation-container {
			text-align: right;
			position: absolute;
			top: -20px;
			right: 15px;
			@media #{$md} {
				top: -30px;
			}
			.swiper-they-write-about-us-button-next,
			.swiper-they-write-about-us-button-prev {
				@include arrow_right;
				@include filter_gray;
				@include transition03;
				&:focus,
				&:hover {
					@include filter_aqua;
					@include transition03;
					outline: none;
					cursor: pointer;
				}
			}
			.swiper-they-write-about-us-button-prev {
				@include arrow_left;
			}
			.swiper-they-write-about-us-pagination {
				display: inline-block;
				width: 60px;
				text-align: center;
			}
		}	
	}
	.swiper-they-write-about-us {
		.swiper-wrapper {
			margin-top: 2rem;
			overflow: visible;
			.swiper-they-write-about-us-slide-inner {
				padding: 1rem;
				margin: .4rem;
				-webkit-box-shadow: 0px 0px 3px 3px rgba(1,2,2,0.15);
				-moz-box-shadow: 0px 0px 3px 3px rgba(1,2,2,0.15);
				box-shadow: 0px 0px 3px 3px rgba(1,2,2,0.15);
				@media #{$xs} {
					padding: 1.2rem 1.6rem;
				}
				@media #{$md} {
					padding: 2rem 1.6rem;
					margin: 1.4rem;
					-webkit-box-shadow: 0px 0px 10px 10px rgba(1,2,2,0.15);
					-moz-box-shadow: 0px 0px 10px 10px rgba(1,2,2,0.15);
					box-shadow: 0px 0px 10px 10px rgba(1,2,2,0.15);
				}
				.swiper-they-write-about-us-img {
					display: none;
					@media #{$md} {
						display: inline-block;
						width: 30%;
						vertical-align: top;
					}
					@media #{$lg} {
						width: 20%;
					}
					img {
						@media #{$md} {
							margin-top: 1rem;
						}
					}
				}
				.swiper-they-write-about-us-text {
					@media #{$md} {
						display: inline-block;
						width: 66%;
						margin-left: 3%;
					}
					@media #{$lg} {
						width: 73%;
						margin-left: 3%;
					}
					@media #{$xxl} {
						width: 75%;
						margin-left: 2%;
					}
					@media #{$xxxl} {
						width: 76%;
						margin-left: 1%;
					}
					h4 {
						margin-block-start: .3rem;
						margin-block-end: 0;
						margin-top: .3rem;
						margin-bottom: 0;
						text-transform: uppercase;
						line-height: 1.4rem;
						@media #{$md} {
							margin-top: 2rem;
							font-size: 1.1rem;
							line-height: 1.5rem;
						}
						@media #{$xxl} {
							margin-top: 3rem;
							font-size: 1.3rem;
							line-height: 1.7rem;
						}
					}
				}
			}
		}
	}
}