@mixin notransition(){
	transition: all 0s ease-in-out;
}
@mixin transition03(){
	transition: all .3s ease-in-out;
}
@mixin transition05(){
	transition: all .5s ease-in-out;
}
@mixin transition07(){
	transition: all .7s ease-in-out;
}
@mixin transition1(){
	transition: all 1s ease-in-out;
}
@mixin linear-transition05(){
	transition: all .5s linear;
}
@mixin arrow_right() {
	background:  url("../img/arrow_right.svg") no-repeat center center;
	background-size: contain;
	height: 16px;
	width: 32px;
	content: '';
	display: inline-block;
}
@mixin arrow_right_animated() {
	background:  url("../img/arrow_right.svg") no-repeat center center;
	background-size: contain;
	height: 16px;
	width: 32px;
	content: '';
	display: inline-block;
	@media #{$xl} {
		position: absolute;
		opacity: 0;
		@include transition05;
	}
}
@mixin arrow_left() {
	background:  url("../img/arrow_left.svg") no-repeat center center;
	background-size: contain;
	height: 16px;
	width: 32px;
	content: '';
	display: inline-block;
}
@mixin arrow_left_animated() {
	background:  url("../img/arrow_left.svg") no-repeat center center;
	background-size: contain;
	height: 16px;
	width: 32px;
	content: '';
	display: inline-block;
	@media #{$xl} {
		position: absolute;
		opacity: 0;
		@include transition05;
	}
}
@mixin contact_icon {
	background-size: contain;
	height: 22px;
	width: 22px;
	content: '';
	display: inline-block;
	content: '';
}
@mixin list {
	list-style-type: none;
	padding-inline-start: 0px;
}
@mixin list_item {
	background:  url("../img/punktator.svg") no-repeat center center;
	background-size: contain;
	height: 6px;
	width: 7px;
	content: '';
	display: inline-block;
	margin-right: 10px;
	padding-bottom: 12px;
	@media #{$lg} {
		height: 8px;
		width: 9px;
		padding-bottom: 16px;
	}
}
@mixin filter_gray {
	filter: invert(11%) sepia(0%) saturate(3121%) hue-rotate(213deg) brightness(101%) contrast(91%);
}
@mixin filter_aqua {
	filter: invert(46%) sepia(66%) saturate(2011%) hue-rotate(147deg) brightness(95%) contrast(93%);
}
@mixin filter_navy {
	filter: invert(8%) sepia(59%) saturate(7443%) hue-rotate(242deg) brightness(96%) contrast(131%);
}
@mixin filter_white {
	filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(346deg) brightness(101%) contrast(101%);
}